body{
    height: 100%;
    
}
.header{
    height: 30%;
    background-color: #1F2937;
}
.random{
    height: 25%;
   
}
.Thor{
    height: 20%;
    background-color: #E5E7EB;
}
.action{
    height: 20%;
}
.last{
    height: 5%;
    background-color: #1F2937 ;
}