body{
    height: 100%;    
}


.header{
    max-height: 30%;
    background-color: #1F2937;
    border-top: 0;
    padding-left: 100px;
    padding-right: 100px;
}


.top{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    border: 20px;
    margin: 20px;
    /* padding: 10px; */    
}


.logo{
     font-size: 24px;
     color: #F9FAF8;
     margin-left: 15px;    
}


.list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 18px; 
    padding-top: 10px; 
}


.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    padding: 40px ;
}


.awesome{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}


.placeholder{
    font-size: 18px;
    color: #E5E7EB;
    background-color: rgba(166, 166, 171, 0.33);
    justify-content: center;
    padding: 60px;
    text-align: center;
}


button{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: 1px solid white;   
}
    

.random{
    max-height: 25%;   
}


.info{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}


.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100vw;    
}


.first{
    border: 2px solid #3882F6;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}


.second{
    border: 2px solid #3882F6;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}


.third{
    border: 2px solid #3882F6;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}


.fourth{
    border: 2px solid #3882F6;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}


.figure{ 
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: xx-small;
    width: 100vw;
    justify-content: center;
    margin-top: 0%;
    text-justify: auto;
 }


 .one{
    width: 100px;
    height: 50px; 
 }


 .two{
    width: 100px;
    height: 50px;  
}


 .three{
    width: 100px;
    height: 50px;  
 }


 .four{
    width: 100px;
    height: 50px;
   }


.Thor{
    height: 20%;
    background-color: #E5E7EB;
    padding: 50px;
}


.testimonial{
    /* width: 500px; */
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}


.quote{
   text-align: end;
   padding-left:200px;
   padding-top: 0;
}


.action{
    height: 20%;
    padding: 50px;  
    background-color: #F9FAF8;    
}


.container{
    width: 400px;
    margin-left: 350px;
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    color: #F9FAF8;
    font-size: xx-small;
}


span{
    font-weight: bold;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 } 


.sign{
     margin-top: 20px; 
}

.last{
    height: 5%;
    background-color: #1F2937 ;
    padding: 20px;
    text-align: center;
    color: #F9FAF8;
    font-size: xx-small;
}